@font-face {
    font-family: 'Playpen Sans';
    src: url('fonts/playpen-sans.woff2') format('woff2'),
         url('fonts/playpen-sans.woff') format('woff');
}

@font-face {
    font-family: 'Tilt Neon';
    src: url('fonts/tilt-neon.woff2') format('woff2'),
         url('fonts/tilt-neon.woff') format('woff');
}

:root {
    --font-family-playpen-sans: 'Playpen Sans', sans-serif;
    --font-family-tilt-neon: 'Tilt Neon', sans-serif;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8a933;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video {
    width: 640px; 
    height: 360px;
    border-radius: 5%;
}

.logo-img {
    width: 80px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


.intro {
    text-align: center;
    margin-top: 40px;
}

.intro h1 {
    font-size: 3rem;
    color: #d65ebe;
    margin-bottom: 30px;
    font-family: 'Playpen Sans';
}

.team p {
    font-size: 1.2rem;
}

.description {
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-left: 180px;
}

.text {
    width: 60%;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.image {
    width: 30%;
}

.image img {
    width: 100%;
    height: auto;
}
.objective {
    padding: 20px;
    text-align: center;
}

.objective h2 {
    font-size: 2rem;
    color: #333;
}

.objective p {
    font-size: 1.1rem;
}

.team-members {
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

.team-members h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.members {
    display: flex;
    justify-content: space-around;
}

.member {
    text-align: center;
}

.member-img {
    width: 80px;
    height: auto;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #333;
    color: white;
}

footer div p {
    margin: 5px 0;
}

